.plans-container{
    margin-top: -4rem;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    position: relative;
}

.plans{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 3rem;
}
.p-blur{
    height: 23rem;
    width: 32rem;
    top: 6rem;
    left: 0;
}
.R-blur{
    height: 23rem;
    width: 32rem;
    top: 10rem;
    right: 0;
}

.Plan{
    display: flex;
    flex-direction: column;
    background-color: var(--caloryCard);
    gap: 2rem;
    color: white;
    padding: 1.5rem;
    width: 15rem;
}
.Plan:nth-child(2){
    background: var(--planCard);
    transform: scale(1.1);
}
.plans>:nth-child(2)>svg{
    fill: white;
}
.plans:nth-child(2)>button{
    color: orange;
}
.Plan>:nth-child(1){
    fill: var(--orange);
    width: 2rem;
    height: 2rem;
}
.Plan>:nth-child(2){
    font-weight: bold;
    font-size: 1rem;

}
.Plan>:nth-child(3){
    font-weight: bold;
    font-size: 3rem;

}
.features{
    display: flex;
    gap:1rem;
    flex-direction: column;
}

.feature{
    display: flex;
    gap:1rem;
    align-items: center;
}
.feature>:nth-child(1){
    
    width:1rem;
}

.rj{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.rj>:nth-child(1){
    font-size: 0.8rem;
}